.title_card{
	padding: 10px 10px;
	background-color:lightgreen;
}
.button{
	font-size: 1.5em;

}
.columnSeparation{
	padding: 0 auto;
	
	text-align: center;
}

table {
	width: 100%;
  }

.buttonseparacion{
		margin: 5px;
    }
