.sizeField{
    width: 30%;
    font-size: 1.2em;
    margin-left: 10px;
  }
  .title_card{
    background-color: lightpink;
  }
.buttonCenter{

  text-align: center;
}
.icon{
  vertical-align: middle;
}