
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <img src="/assets/img/uoc_logo.png" />

      <h2>Remember Password</h2>
      <p>Introduce un email para recuperar datos</p>
      <form [formGroup]="rememberForm" (ngSubmit)="onSubmit()">
        <div *ngIf="state.user.errorUser" class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          El usuario no existe en la aplicación
        </div>
        <div *ngIf="state.user.rememberCredencial" class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          Se ha enviado email con los credenciales.
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && rememberForm.controls.email.errors
            }"
          />
        </div>

        <div class="form-group">
          <button [disabled]="rememberForm.invalid" class="btn btn-primary">
            Remember Password
          </button>
          <a routerLink="/signin" class="btn btn-link"
            >Ir a Login</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
