
.title{
    background-color: #4d79ff;
    color:white;
    height: 2.7em;
    padding: 2% ;
}

.container_form{
    width:50%;
    margin:auto;
    padding-top: 5% ;
}

.full-width {
   
  width: 100%;
}
