
  <div *ngIf="offers">
    <section style="clear:both;padding-bottom:2em;"></section>
    
  
   <div fxLayoutAlign="space-around stretch" fxLayoutWrap >
      <mat-card>
       
      <mat-card-header >
        <mat-card-title class="title_card">Total de ofertas</mat-card-title>
      </mat-card-header>

          <mat-card-content>

            <table mat-table [dataSource]="offers" class="mat-elevation-z8">

              <ng-container matColumnDef="puesto" >
                <th mat-header-cell *matHeaderCellDef class="columnSeparation"> Puesto </th>
                <td mat-cell *matCellDef="let element" class="columnSeparation"> {{element.company.name}} </td>
              </ng-container>    

              <ng-container matColumnDef="empresa" >
                <th mat-header-cell *matHeaderCellDef class="columnSeparation"> Empresa </th>
                <td mat-cell *matCellDef="let element" class="columnSeparation"> {{element.company.name}} </td>
              </ng-container>  

              <ng-container matColumnDef="familia" >
                <th mat-header-cell *matHeaderCellDef class="columnSeparation"> Familia </th>
                <td mat-cell *matCellDef="let element" class="columnSeparation"> {{element.category.name}} </td>
              </ng-container>  

              <ng-container matColumnDef="fecha" >
                <th mat-header-cell *matHeaderCellDef class="columnSeparation"> Fecha </th>
                <td mat-cell *matCellDef="let element" class="columnSeparation"> {{element.date |date:'d/M/yyyy'}} </td>
              </ng-container>  

              <ng-container matColumnDef="provincia" >
                <th mat-header-cell *matHeaderCellDef class="columnSeparation"> Provincia </th>
                <td mat-cell *matCellDef="let element" class="columnSeparation"> {{element.province.name}} </td>
              </ng-container>  

              <ng-container matColumnDef="municipio" >
                <th mat-header-cell *matHeaderCellDef class="columnSeparation"> Municipio </th>
                <td mat-cell *matCellDef="let element" class="columnSeparation"> {{element.municipe.name}} </td>
              </ng-container>  

            <tr mat-header-row *matHeaderRowDef="displayedColumnsOffers"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsOffers;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </mat-card-content>
      </mat-card>
  </div>
</div>

<section style="clear:both;padding-bottom:2em;"></section>

  <div fxLayoutAlign="space-around stretch" fxLayoutWrap >
    <mat-card>
    <mat-card-header>
      <mat-card-title class="title_card">Añadir oferta trabajo</mat-card-title>
    </mat-card-header>
    <mat-card-content> 

        <form [formGroup]="rForm" (submit)="submit()">
          
          <mat-form-field appearance="fill" class="sizeField">
            <mat-label>Puesto</mat-label>
            <input matInput 
            name="puesto"
            formControlName="puesto">
            <mat-hint align="end">Indica puesto^</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill" class="sizeField">
            <mat-label>Empresa</mat-label>
            <input matInput 
            name="empresa"
            formControlName="empresa">
            <mat-hint align="end">Indica empresa^</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill" class="sizeField">
            <mat-label>Familia profesional</mat-label>
              <mat-select
                name="category"
                formControlName="category">
                <mat-option [value]="category" *ngFor="let category of categories">
                  {{ category.name }}</mat-option>
              </mat-select>
            <mat-hint align="end">Seleciona familia profesional ^</mat-hint>
          </mat-form-field>

          <mat-form-field class="sizeField">
            <input matInput [matDatepicker]="picker1" formControlName="date_incio" placeholder="Fecha de Inicio" >
            <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
            <mat-datepicker #picker1 ></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill" class="sizeField">
            <mat-label>Provincia</mat-label>
              <mat-select
              name="province"
              formControlName="province">
                <mat-option [value]="province" *ngFor="let province of provinces">
                  {{ province.name }}</mat-option>
              </mat-select>
            <mat-hint align="end">Seleciona provincia ^</mat-hint>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="sizeField">
            <mat-label>Municipio</mat-label>
              <mat-select
              name="municipe"
              formControlName="municipe">
                <mat-option [value]="municipe" *ngFor="let municipe of municipes">
                  {{ municipe.name }}</mat-option>
              </mat-select>
            <mat-hint align="end">Seleciona municipio ^</mat-hint>
          </mat-form-field>

          <div class="buttonCenter">
            <button mat-raised-button color="primary" class="button" type="submit" [disabled]="rForm.invalid"><mat-icon class="icon"> save</mat-icon>Guardar</button>
          </div>
          
        </form>
    </mat-card-content> 
  </mat-card>
  </div>
  <section style="clear:both;padding-bottom:2em;"></section>