.button{
	font-size: 1.5em;

}
.columnSeparation{
	padding: 0 auto;
	
	text-align: center;
}

table {
	width: 100%;
  }

.buttonseparacion{
		margin: 5px;
    }
	.sizeField{
		width: 30%;
		font-size: 1.2em;
		margin-left: 10px;
	  }
	  .title_card{
		background-color: lightpink;
	  }
	  .buttonCenter{
	  
	  text-align: center;
	  }
	  .icon{
	  vertical-align: middle;
	  }